body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: var(--general-color);
}

.button-orange {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 2px;
}

.button-black {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
  background-color: var(--general-color);
  border: 1px solid var(--general-color);
  border-radius: 2px;
}

.button-white {
  font-size: 14px;
  font-weight: 500;
  color: var(--general-color);
  background-color: var(--grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 2px;
}

.title {
  font-size: 29px;
  font-weight: 700;
  line-height: 1.2;
}

.sub-title {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.6;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
}

.gorizontal-line {
  height: 18px;
  width: 120px;
  background: #F9BB88;
}

.vertical-line {
  height: 80px;
  width: 21px;
  background: #F9BB88;
}

.container {
  width: 420px;
  margin: 0 auto;
  padding: 80px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --general-color: #202020;
  --button-color: #FF9646;
  --orange-color: #F9BB88;
  --grey-color: #F4F4F4;
  --white-color: #ffffff;
  --transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: var(--grey-color);
  position: relative;
}
.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 890px;
  background-color: var(--orange-color);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 18px 0px;
}

.header__logo {
  z-index: 20;
  cursor: pointer;
}

.logo__icon {
  width: 64px;
  height: 26px;
}

.header__burger-btn {
  cursor: pointer;
}

.burger__btn-open {
  width: 25px;
  height: 19px;
}

.hero {
  position: relative;
}

.hero__container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px;
}

.hero__img {
  position: relative;
  z-index: 20;
  background-image: url("../img/hero/hero-mob.jpg");
  width: 420px;
  height: 260px;
  margin: 0 auto;
  left: -20px;
  margin-bottom: 40px;
}

.hero__content {
  margin-left: 100px;
  position: relative;
}
.hero__content::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  bottom: -285px;
  right: -35px;
  width: 96px;
  height: 96px;
}

.hero__undertitle {
  width: 280px;
  font-size: 12px;
  line-height: 1.41;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--button-color);
}

.hero__title {
  width: 280px;
  margin-bottom: 58px;
  font-size: 39px;
  font-weight: 700;
  line-height: 1.2;
}
.hero__title::after {
  content: "";
  display: block;
  position: relative;
  bottom: -20px;
  left: -100px;
  width: 300px;
  height: 2px;
  border: 2px solid var(--orange-color);
}

.hero__text {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 1.58;
}

.hero__btn {
  margin-bottom: 40px;
  padding: 15px 53px;
  cursor: pointer;
  transition: var(--transition);
}
.hero__btn:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.hero__black-box {
  position: relative;
  z-index: 50;
  width: 380px;
  height: 200px;
  padding: 40px 68px;
  margin: 0 auto;
  background-color: var(--general-color);
}

.black__box-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: var(--grey-color);
}

.black__box-btn {
  padding: 15px 53px;
  transition: var(--transition);
  cursor: pointer;
}
.black__box-btn:hover {
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
}

.services__body {
  position: relative;
}
.services__body::after {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  bottom: -70px;
  right: 110px;
  width: 96px;
  height: 96px;
}

.services__item {
  position: relative;
  display: flex;
  padding: 40px 15px;
  border: 2px solid var(--grey-color);
}
.services__item::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 9px;
  width: 21px;
  height: 80px;
  background-color: var(--orange-color);
}

.services__icon {
  z-index: 20;
  margin-top: 16px;
  width: 60px;
  height: 60px;
}

.services__thumb {
  margin-left: 30px;
}

.services__title {
  margin-bottom: 8px;
  width: 240px;
}

.services__text {
  width: 240px;
  line-height: 1.7;
}

.type__container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px 80px 20px;
}

.type__body {
  padding-bottom: 47px;
}

.type__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 50;
}

.type__thumb {
  border: 2px solid var(--grey-color);
  position: relative;
}
.type__thumb::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -55px;
  left: -25px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.type__img-wrapper {
  display: flex;
  justify-content: center;
  padding: 35px 46px 30px 46px;
}

.type__box {
  padding: 20px 30px 38px 30px;
  text-align: center;
  background-color: var(--grey-color);
}

.type__subtitle {
  padding: 0px 0px 6px 0px;
}

.type__text {
  margin-bottom: 15px;
}

.type__button {
  padding: 15px 53px;
  cursor: pointer;
  transition: var(--transition);
}
.type__button:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.form__container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: var(--grey-color);
}

.form__body {
  padding: 40px 0px 43px 0px;
  text-align: center;
}

.form__title {
  padding: 0px 12px 0px 12px;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
}

.form__subtitle {
  padding: 0px 60px 0px 60px;
}

.form__main {
  padding: 0px 48px 50px 48px;
}

.form__name {
  width: 282px;
  padding-bottom: 20px;
  background-color: inherit;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.4);
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__name:hover {
  border-bottom: 2px solid var(--general-color);
}

.form__name:hover::placeholder {
  color: var(--general-color);
}

.form__tell {
  width: 282px;
  padding-bottom: 20px;
  margin: 30px 0px;
  background-color: inherit;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.4);
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__tell:hover {
  border-bottom: 2px solid var(--general-color);
}

.form__tell:hover::placeholder {
  color: var(--general-color);
}

.form__email {
  width: 282px;
  padding-bottom: 20px;
  background-color: inherit;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.4);
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__email:hover {
  border-bottom: 2px solid var(--general-color);
}

.form__email:hover::placeholder {
  color: var(--general-color);
}

.form__button-wrapper {
  text-align: center;
  padding-bottom: 80px;
}

.form__button {
  margin-bottom: 10px;
  padding: 15px 54px;
  cursor: pointer;
  transition: var(--transition);
}
.form__button:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.form__policy {
  width: 256px;
  margin: 0 auto;
  font-size: 13px;
  color: rgba(32, 32, 32, 0.4);
}

.form__policy-link {
  color: rgba(32, 32, 32, 0.4);
  border-bottom: 1px solid rgba(32, 32, 32, 0.4);
}
.form__policy-link:hover {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.whywe__body {
  position: relative;
}
.whywe__body::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: -102px;
  right: 0px;
  width: 96px;
  height: 96px;
}

.whywe__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 50;
}

.whywe__subtitle {
  margin-bottom: 20px;
  position: relative;
}
.whywe__subtitle::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -55px;
  left: -25px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.whywe__text {
  margin-bottom: 40px;
}

.whywe__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 30px 0px 40px 0px;
}

.whywe__item {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.whywe__item::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -5px;
  width: 21px;
  height: 80px;
  background-color: var(--orange-color);
}

.whywe__icon {
  z-index: 20;
  width: 60px;
  height: 60px;
}

.examples__containet {
  width: 420px;
  margin: 0 auto;
  padding: 40px 20px 60px 20px;
  background-color: var(--grey-color);
  overflow: hidden;
  position: relative;
}
.examples__containet::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 1055px;
  background-color: var(--orange-color);
}

.examples__title {
  margin-bottom: 40px;
  width: 220px;
  position: relative;
  z-index: 50;
}

.examples__slider {
  margin-bottom: 40px;
  position: relative;
  z-index: 45;
}
.examples__slider::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -55px;
  left: -25px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.examples__img-img {
  width: 380px;
}

.examples__subtitle {
  position: relative;
  z-index: 40;
  width: 280px;
  margin-bottom: 20px;
}
.examples__subtitle::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: -595px;
  right: -70px;
  width: 96px;
  height: 96px;
}

.examples__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 40;
}
.examples__list::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element-orange.svg");
  background-repeat: no-repeat;
  top: -90px;
  right: -105px;
  width: 160px;
  height: 160px;
}

.examples__text-price {
  margin: 20px 0px 40px 0px;
}

.examples__btn {
  padding: 15px 54px;
  cursor: pointer;
  transition: var(--transition);
}
.examples__btn:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.advantages__container {
  overflow: hidden;
}

.advantages__body {
  position: relative;
  z-index: 45;
}
.advantages__body::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 55px;
  left: -25px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.advantages__title {
  position: relative;
  z-index: 55;
}

.advantages__img-wrapper {
  position: relative;
  z-index: 40;
  overflow: hidden;
}
.advantages__img-wrapper::after {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element-orange.svg");
  top: 315px;
  left: 85px;
  width: 160px;
  height: 160px;
}

.advantages__img {
  width: 420px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  position: relative;
  z-index: 40;
}
.advantages__list::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: -83px;
  right: -45px;
  width: 96px;
  height: 96px;
}

.advantages__subtitle {
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 12px;
  line-height: 1.4;
}

.howwork__container {
  width: 420px;
  margin: 0 auto;
  padding: 40px 20px 60px 20px;
  background-color: var(--grey-color);
  overflow: hidden;
  position: relative;
}
.howwork__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 903px;
  background-color: var(--orange-color);
}
.howwork__container::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: 118px;
  right: -22px;
  width: 96px;
  height: 96px;
}

.howwork__title {
  position: relative;
  z-index: 55;
  width: 230px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.19;
}

.howwork__list {
  background-color: var(--white-color);
  position: relative;
  z-index: 50;
}
.howwork__list::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -58px;
  left: -20px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.howwork__item {
  display: flex;
  align-items: center;
  padding: 40px 27px 40px 30px;
  border: 1px solid var(--grey-color);
  position: relative;
}
.howwork__item::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 22px;
  width: 21px;
  height: 80px;
  background-color: var(--orange-color);
}

.howwork__number-text {
  position: relative;
  z-index: 20;
  padding-right: 27px;
  font-size: 36px;
  line-height: 1.38;
}

.howwork__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.38;
}

.howwork__text {
  font-size: 12px;
  line-height: 1.6;
}

.question__body {
  padding: 0px 0px 28px 0px;
}

.question__title {
  position: relative;
  z-index: 55;
  padding: 0px 32px 0px 48px;
  margin-bottom: 30px;
}

.question__subtitle {
  padding: 0px 48px 0px 48px;
  position: relative;
  z-index: 50;
}
.question__subtitle::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -45px;
  left: 27px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.question__main {
  padding: 0px 48px 43px 48px;
}

.question__name {
  width: 282px;
  padding-bottom: 20px;
  background-color: inherit;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.4);
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.question__name:hover {
  border-bottom: 2px solid var(--general-color);
}

.question__name:hover::placeholder {
  color: var(--general-color);
}

.question__tell {
  width: 282px;
  padding-bottom: 20px;
  margin: 30px 0px;
  background-color: inherit;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.4);
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.question__tell:hover {
  border-bottom: 2px solid var(--general-color);
}

.question__tell:hover::placeholder {
  color: var(--general-color);
}

.question__email {
  width: 282px;
  padding-bottom: 20px;
  background-color: inherit;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.4);
  cursor: pointer;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.question__email:hover {
  border-bottom: 2px solid var(--general-color);
}

.question__email:hover::placeholder {
  color: var(--general-color);
}

.question__button-wrapper {
  text-align: center;
}

.question__button {
  margin-bottom: 10px;
  padding: 15px 57px;
  cursor: pointer;
  transition: var(--transition);
}
.question__button:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.question__policy {
  width: 256px;
  margin: 0 auto;
  font-size: 13px;
  color: rgba(32, 32, 32, 0.4);
}

.question__policy-link {
  color: rgba(32, 32, 32, 0.4);
  border-bottom: 1px solid rgba(32, 32, 32, 0.4);
}
.question__policy-link:hover {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.footer__container {
  width: 420px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  background-color: var(--grey-color);
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.footer__link-icon {
  width: 129px;
  height: 51px;
}

.footer-box {
  font-weight: 600;
  line-height: 1.4;
}

.footer__title {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.27em;
  color: var(--button-color);
  text-transform: uppercase;
  text-align: center;
}

.footer__wrapper-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer__link-tell {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--general-color);
}
.footer__link-tell:hover {
  color: var(--button-color);
}

.footer__btn {
  padding: 11px 17px;
  cursor: pointer;
  transition: var(--transition);
}
.footer__btn:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.footer__list-social {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.footer__social-icon {
  fill: rgba(32, 32, 32, 0.4);
  width: 22px;
  height: 22px;
}
.footer__social-icon:hover {
  fill: var(--button-color);
}

.footer__policy {
  margin-bottom: 10px;
  text-align: center;
  color: rgba(32, 32, 32, 0.4);
}
.footer__policy:hover {
  color: var(--button-color);
}

.footer__copy {
  text-align: center;
  color: rgba(32, 32, 32, 0.4);
}

.about__hero {
  position: relative;
}

.about__hero-container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  background-color: var(--grey-color);
  position: relative;
}
.about__hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 135px;
  background-color: var(--orange-color);
}

.about__hero-line {
  position: relative;
  z-index: 50;
  border-bottom: 3px solid var(--button-color);
}

.about__hero-navigation-mini {
  margin-top: 15px;
  position: relative;
  z-index: 50;
}
.about__hero-navigation-mini::after {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -57px;
  left: -20px;
  width: 100px;
  height: 14px;
  background-color: var(--button-color);
}

.about__hero-link {
  color: var(--general-color);
  font-size: 12px;
  line-height: 1.2;
}

.about__hero-link ~ span {
  color: var(--general-color);
  font-size: 12px;
  line-height: 1.2;
  padding: 0px 10px;
}

.about__hero-title {
  position: relative;
  z-index: 50;
  margin-top: 23px;
  margin-bottom: 40px;
}
.about__hero-title::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: 0px;
  right: -20px;
  width: 96px;
  height: 96px;
}

.about__hero-img {
  position: relative;
  z-index: 60;
  background-image: url("../img/hero/hero-mob.jpg");
  width: 420px;
  height: 260px;
  margin: 0 auto;
  left: -20px;
}

.about__hero-subtitle {
  margin-top: 40px;
}

.about__hero-text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5;
}

.about__hero-activity-title {
  margin-top: 40px;
  width: 267px;
}

.about__hero-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 26px;
  position: relative;
  z-index: 50;
}
.about__hero-list::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: -100px;
  right: -20px;
  width: 96px;
  height: 96px;
}

.about__hero-item {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 20px;
  position: relative;
}
.about__hero-item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -18px;
  width: 21px;
  height: 80px;
  background-color: var(--orange-color);
}

.about__list-title {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 0.8;
  font-weight: 400;
  padding-right: 20px;
  width: 64px;
}

.about__list-title > span {
  font-size: 36px;
  line-height: 0.8;
  font-weight: 400;
}

.about__list-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.about__services-body {
  position: relative;
}
.about__services-body::after {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  bottom: -70px;
  right: 110px;
  width: 96px;
  height: 96px;
}

.about__services-item {
  position: relative;
  display: flex;
  padding: 40px 15px;
  border: 2px solid var(--grey-color);
}
.about__services-item::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 9px;
  width: 21px;
  height: 80px;
  background-color: var(--orange-color);
}

.about__services-icon {
  z-index: 20;
  margin-top: 16px;
  width: 60px;
  height: 60px;
}

.about__services-thumb {
  margin-left: 30px;
}

.about__services-title {
  margin-bottom: 8px;
  width: 240px;
}

.about__services-text {
  width: 240px;
  line-height: 1.7;
}

.about-project__body {
  position: relative;
}
.about-project__body::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 20px;
  left: -20px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.about-project__title {
  position: relative;
  z-index: 50;
}
.about-project__title::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: 0px;
  right: -10px;
  width: 96px;
  height: 96px;
}

.about-project__img-wrapper {
  position: relative;
  z-index: 60;
  margin-top: 40px;
  margin-bottom: 87px;
}

.about-project__btn-wrapper {
  display: flex;
  justify-content: center;
}

.about-project__button {
  padding: 15px 52px;
  transition: var(--transition);
}
.about-project__button:hover {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}

.about-reviews__container {
  width: 420px;
  margin: 0 auto;
  padding: 40px 20px 107px 20px;
  background-color: var(--grey-color);
  position: relative;
}
.about-reviews__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 702px;
  background-color: var(--orange-color);
}

.about-reviews__body {
  position: relative;
  z-index: 40;
}
.about-reviews__body::before {
  content: "";
  position: absolute;
  z-index: 5;
  background-image: url("../icon/element.svg");
  top: 50px;
  right: 30px;
  width: 96px;
  height: 96px;
}

.about-reviews__title {
  position: relative;
  z-index: 50;
  width: 265px;
  margin-bottom: 40px;
}

.about-reviews__list {
  position: relative;
  z-index: 45;
}
.about-reviews__list::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -55px;
  left: -20px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.about-reviews__item {
  padding: 40px 30px 96px 30px;
  background-color: var(--white-color);
}

.about-reviews__wrapper {
  display: flex;
  margin-bottom: 20px;
}

.about-reviews__item-thumb {
  margin-top: 71px;
  margin-left: 20px;
}

.about-reviews__item-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.about-reviews__item-subtitle {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(32, 32, 32, 0.4);
}

.about-reviews__text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.6;
}

.about-reviews__read-more {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.burger__menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}

.burger__container {
  width: 320px;
  margin: 0 auto;
  padding: 0px 20px 40px 20px;
  background-color: var(--grey-color);
}

.burger__btn-close {
  margin-left: 240px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.burger__body {
  display: flex;
  flex-direction: column;
}

.burger__navigation {
  margin-bottom: 60px;
}

.burger__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.burger__item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--general-color);
  transition: var(--transition);
}
.burger__item-link:hover {
  color: var(--button-color);
}

.burger__tell {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--general-color);
  transition: var(--transition);
}
.burger__tell:hover {
  color: var(--button-color);
}

.burger__btn {
  display: block;
  padding: 12px 17px;
  cursor: pointer;
  transition: var(--transition);
}
.burger__btn:hover {
  border: 1px solid var(--general-color);
  background-color: var(--general-color);
}

.is-hiden {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.modal__container {
  width: 900px;
  height: 775px;
  padding: 50px 25px;
  margin: 0 auto;
  background-color: var(--white-color);
  overflow-x: scroll;
  border-radius: 1%;
}

.modal__body {
  position: relative;
  padding: 35px 48px 10px 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.modal__close-btn {
  position: absolute;
  top: -30px;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.modal__content {
  position: relative;
}
.modal__content::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 33px;
  left: -25px;
  width: 100px;
  height: 14px;
  background-color: var(--orange-color);
}

.modal__title {
  position: relative;
  z-index: 50;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.modal__text-user > span {
  color: #FF0000;
}

.modal__list-data,
.modal__list-personal,
.modal__list-consent {
  list-style-type: disc;
  margin-left: 20px;
}

.is-block {
  display: block;
}/*# sourceMappingURL=main.css.map */