body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: var(--general-color);
}

.button-orange {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 2px;
}

.button-black {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
  background-color: var(--general-color);
  border: 1px solid var(--general-color);
  border-radius: 2px;
}

.button-white {
  font-size: 14px;
  font-weight: 500;
  color: var(--general-color);
  background-color: var(--grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 2px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.19;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
}

.gorizontal-line {
  height: 18px;
  width: 120px;
  background: #F9BB88;
}

.vertical-line {
  height: 80px;
  width: 21px;
  background: #F9BB88;
}

.container {
  width: 380px;
  margin: 0 auto;
  padding: 80px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --general-color: #202020;
  --button-color: #FF9646;
  --orange-color: #F9BB88;
  --grey-color: #F4F4F4;
  --white-color: #ffffff;
}

.header__container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px;
  position: relative;
}
.header__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 890px;
  background-color: var(--orange-color);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 18px 0px;
}

.header__logo {
  z-index: 20;
  cursor: pointer;
}

.logo__icon {
  width: 64px;
  height: 55px;
}

.header__burger-btn {
  cursor: pointer;
}

.burger__btn-open {
  width: 25px;
  height: 19px;
}

.hero {
  position: relative;
}

.hero__container {
  width: 420px;
  margin: 0 auto;
  padding: 0px 20px;
}

.hero__img {
  position: relative;
  z-index: 20;
  background-image: url("../img/hero/hero-mob.jpg");
  width: 420px;
  height: 260px;
  margin: 0 auto;
  left: -20px;
  margin-bottom: 40px;
}

.hero__content {
  margin-left: 100px;
}

.hero__undertitle {
  width: 280px;
  font-size: 12px;
  line-height: 1.41;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--button-color);
}

.hero__title {
  width: 280px;
  margin-bottom: 58px;
  font-size: 39px;
  font-weight: 700;
  line-height: 1.2;
}
.hero__title::after {
  content: "";
  display: block;
  position: relative;
  bottom: -20px;
  left: -100px;
  width: 300px;
  height: 2px;
  border: 2px solid var(--orange-color);
}

.hero__text {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 1.58;
}

.hero__btn {
  margin-bottom: 40px;
  padding: 15px 53px;
  cursor: pointer;
}

.hero__black-box {
  width: 380px;
  height: 200px;
  padding: 40px 68px;
  margin: 0 auto;
  background-color: var(--general-color);
}

.black__box-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: var(--grey-color);
}

.black__box-btn {
  padding: 15px 53px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */