.footer__container {
    width: 420px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    background-color: var(--grey-color);
}
.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.footer__link-icon {
    width: 129px;
    height: 51px;
}
.footer-box {
    font-weight: 600;
    line-height: 1.4;
}
.footer__title {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.27em;
    color: var(--button-color);
    text-transform: uppercase;
    text-align: center;
}
.footer__wrapper-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.footer__link-tell {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--general-color);
    &:hover {
        color: var(--button-color);
     }
}
.footer__btn {
    padding: 11px 17px;
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        border: 1px solid var(--general-color);
        background-color: var(--general-color);
    }
}
.footer__list-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
.footer__social-icon {
    fill: rgba(32, 32, 32, 0.4);;
    width: 22px;
    height: 22px;
    &:hover {
       fill: var(--button-color);
    }
}
.footer__policy {
    margin-bottom: 10px;
    text-align: center;
    color: rgba(32, 32, 32, 0.4);
    &:hover {
        color: var(--button-color);
     }
}
.footer__copy {
    text-align: center;
    color: rgba(32, 32, 32, 0.4);
}