.footer__container {
    width: 420px;
    margin: 0 auto;
    padding: 40px 20px;
}
.footer__body {
}
.footer__wrapper {
}
.footer__link-logo {
}
.footer__link-icon {
}
.footer__text-designing {
}
.footer__text-creation {
}
.footer__text-assembling {
}
.footer__title {
}
.footer__link-tell {
}
.footer__btn {
}
.button-orange {
}
.footer__list-social {
}
.footer__item-social {
}
.footer__link-social {
}
.footer__social-icon {
}
.footer__policy {
}
.footer__copy {
}