body {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: var(--general-color);
}
.button-orange {
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-color);
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 2px;
}
.button-black {
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-color);
    background-color: var(--general-color);
    border: 1px solid var(--general-color);
    border-radius: 2px;
}
.button-white {
    font-size: 14px;
    font-weight: 500;
    color: var(--general-color);
    background-color: var(--grey-color);
    border: 1px solid var(--grey-color);
    border-radius: 2px;
}
.title {
    font-size: 29px;
    font-weight: 700;
    line-height: 1.2;
}
.sub-title {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.6;
}
.subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.38;
}
.gorizontal-line {
    height: 18px;
    width: 120px;
    background: #F9BB88;
}
.vertical-line {
    height: 80px;
    width: 21px;
    background: #F9BB88;
}
.container {
    width: 420px;
    margin: 0 auto;
    padding: 80px 20px;
}