.howwork {
}
.howwork__container {
    width: 420px;
    margin: 0 auto;
    padding: 40px 20px 60px 20px;
}
.howwork__body {
}
.howwork__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.19;
}
.howwork__list {
}
.howwork__item {
}
.howwork__number-text {
    font-size: 36px;
    line-height: 1.38;
}
.howwork__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.38;
}
.howwork__text {
    font-size: 12px;
    line-height: 1.6;
}